* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f6f6;
  height: 3500px;
}

html {
  font-size: 50px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 280px) {
  html {
    font-size: 18.666px;
  }
}

@media screen and (min-width: 320px) {
  html {
    font-size: 21.333px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}

@media screen and (min-width: 400px) {
  html {
    font-size: 26.666px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}

@media screen and (min-width: 424px) {
  html {
    font-size: 28.266px;
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}

@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}

@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
