/* 广告位 */
.ad {
  margin: .6rem 0;
  padding-bottom: 1rem;
  text-align: center;
  line-height: 1.5rem;
  font-size: .4rem;
  background-color: #ffffff;
  border-radius: .3rem;
}

.ad div {
  border-radius: .3rem;
  margin-bottom: .2rem;
  overflow: hidden;
}
