/* 博客文章详情部分 */
.detailed-title {
  font-size: .3rem;
  text-align: center;
  padding: .5rem;
}

.detailed-content {
  padding: 1.3rem;
  text-align: center;
  font-size: .8rem;
}

code {
  display: block ;
   background-color:#f3f3f3;
   padding: .5rem !important;
   overflow-y: auto;
   font-weight: 300;
   font-family: Menlo, monospace;
   border-radius: .3rem;
}

.title-anchor {
  color:#888 !important;
  padding:4px !important;
  margin: 0rem !important;
  height: auto !important;
  line-height: 1.2rem !important;
  font-size: .9rem !important;
  border-bottom: 1px dashed #eee;
}

.active {
  color:rgb(30, 144, 255) !important;
}

.nav-title {
  text-align: center;
  color: #888;
  border-bottom: 1px solid rgb(30, 144, 255);
}
