/* 导航栏 */
.header {
  position: relative;
}

.header-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 1.152rem;
  padding-top: .11rem;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .1);
  background-color: rgba(255, 255, 255, .6);
  z-index: 1;
  transition: all 1.5s;
}

.header-nav .ant-row {
  align-items: center;
}

.header-nav .header-logo {
  font-size: .5rem;
}

.header-nav .ant-menu {
  margin-left: 3rem;
  font-size: .35rem;
  font-weight: 500;
  border-bottom: none;
  background: none;
  color: #000000;
  line-height: .85rem;
}

.header-nav .ant-menu-item {
  padding: 0 .2rem;
  margin-right: .5rem;
}

.header-nav .ant-menu-submenu-title {
  padding: 0 .2rem;
}

.ant-menu-submenu-title .header-icon {
  position: relative;
  bottom: -.05rem;
  font-size: .5rem !important;
  margin: 0;
}

.header-icon {
  font-size: .35rem !important;
}

.header-icon-bar {
  font-size: .6rem !important;
  margin-top: .2rem;
}

/* 背景图 */
.header-banner {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 6rem;
  background: url('/img/banner/banner.jpg') no-repeat center;
  background-size: 100% auto;
}

.header-banner::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.header-banner-info {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0 .15rem;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-banner-info-title {
  margin-bottom: .6rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  color: #f5f6f7;
}

.header-banner-info-subtitle {
  font-size: .36rem;
  font-weight: 400;
  color: #f5f6f7;
}
