/* 列表内容部分 */
.home-title {
  padding-left: .55rem;
  font-size: .3rem;
  font-weight: 600;
}

.list-title {
  font-size: .4rem;
  padding: 0 .5rem;
}

.list-description {
  font-size: .3rem;
  color: #777;
  line-height: .6rem;
  padding: .3rem .5rem .5rem;
}

.list-icon {
  padding: .1rem .55rem .1rem 0;
  color :#AAA;
  font-size: .28rem;
}

.list-icon span {
  display: inline-block;
  padding: 0 .05rem 0 .25rem;
}

.list-icon .calendar {
  color: #19e9ab;
}

.list-icon .tags {
  color: #fa9c21;
}

.list-icon .fire {
  color: #f52988;
}

.list-img {
  width: 100%;
  padding: 0 .2rem 1rem;
}

.list-img img {
  width: 100%;
  height: auto;
}

.list-footer {
  padding: .2rem .45rem 0 0;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
  font-size: .28rem;
}

.list-footer .look-alltext {
  margin: 0 .1rem;
}
