/* 博客首页主体 */
.main-left {
  background-color: #ffffff;
  padding:.3rem;
  border-radius: .3rem;
  border-bottom: .02rem solid #eeeeee;
}

.main-right {
  height: 100%;
  margin-left: .5rem;
}

.main {
  margin-top: .5rem;
}
